<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tarek.carsharing">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carpic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Splash"
            android:label="@string/title_activity_splash">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".View.EditProfileActivity"
            android:parentActivityName=".View.ProfileActivity" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".View.HistoryActivity"
            android:label="My Trips"
            android:parentActivityName=".View.HomeActivity" />
        <activity
            android:name=".View.ContactUsActivity"
            android:label="Find Us"
            android:parentActivityName=".View.HomeActivity" />
        <activity
            android:name=".View.Notifications"
            android:label="Notifications" />
        <activity
            android:name=".View.AboutActivity"
            android:label="About" />
        <activity
            android:name=".View.ProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".View.HomeActivity" />
        <activity
            android:name=".View.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.MapsActivity" />
        <activity android:name=".View.DeviceListActivity" />
        <activity
            android:name=".View.LoginActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".View.SignupActivity"
            android:label="Signup Page"
            android:parentActivityName=".View.LoginActivity" />
        <activity android:name=".View.SignupVerificationActivity" />
        <activity android:name=".View.SignupImageActivity" />
        <activity
            android:name=".View.SignupDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>